USE [OnlineVotingSystemDB]
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 11/13/2019 12:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidate](
	[CandidateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ServiceId] [nvarchar](50) NULL,
	[Designation] [nvarchar](100) NULL,
	[WorkPlace] [nvarchar](250) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PhotoPath] [nvarchar](50) NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidatePosition]    Script Date: 11/13/2019 12:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidatePosition](
	[CandidatePositionId] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NULL,
	[PositionId] [int] NULL,
 CONSTRAINT [PK_CandidateNomination_1] PRIMARY KEY CLUSTERED 
(
	[CandidatePositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Position]    Script Date: 11/13/2019 12:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](250) NULL,
	[NumberOfPost] [int] NULL,
 CONSTRAINT [PK_NominationPosition] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/13/2019 12:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 11/13/2019 12:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ServiceId] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VoteCastingInformation]    Script Date: 11/13/2019 12:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoteCastingInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NULL,
	[VoterId] [int] NULL,
	[PositionId] [int] NULL,
 CONSTRAINT [PK_VoteCastingInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Voter]    Script Date: 11/13/2019 12:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voter](
	[VoterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ServiceId] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[BloodGroup] [nvarchar](25) NULL CONSTRAINT [DF__Voter__IsEligibl__4D94879B]  DEFAULT ((0)),
	[IsSelected] [bit] NULL,
	[IsCommittedVote] [bit] NOT NULL CONSTRAINT [DF_Voter_IsCommittedVote]  DEFAULT ((0)),
	[UniqueIdentification] [uniqueidentifier] NULL,
	[IsMailSent] [bit] NULL,
 CONSTRAINT [PK_Voter] PRIMARY KEY CLUSTERED 
(
	[VoterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Candidate] ON 

INSERT [dbo].[Candidate] ([CandidateId], [Name], [ServiceId], [Designation], [WorkPlace], [MobileNo], [Email], [PhotoPath]) VALUES (1, N'Muhammed Sajedul Islam', N'15606', NULL, NULL, N'+880XXXXXXXXX', N'mailXXX@gmail.com', N'~/CandidatePhotos/default.jpg')
INSERT [dbo].[Candidate] ([CandidateId], [Name], [ServiceId], [Designation], [WorkPlace], [MobileNo], [Email], [PhotoPath]) VALUES (3, N'Dewan Mahbubur Rahman', N'15824', NULL, NULL, N'+880XXXXXXXXX', N'mailXXX@gmail.com', N'~/CandidatePhotos/default.jpg')
INSERT [dbo].[Candidate] ([CandidateId], [Name], [ServiceId], [Designation], [WorkPlace], [MobileNo], [Email], [PhotoPath]) VALUES (4, N'Mohammad Rafiqul Alam', N'15519', NULL, NULL, N'+880XXXXXXXXX', N'mailXXX@gmail.com', N'~/CandidatePhotos/default.jpg')
SET IDENTITY_INSERT [dbo].[Candidate] OFF
SET IDENTITY_INSERT [dbo].[CandidatePosition] ON 

INSERT [dbo].[CandidatePosition] ([CandidatePositionId], [CandidateId], [PositionId]) VALUES (1, 1, 1)
INSERT [dbo].[CandidatePosition] ([CandidatePositionId], [CandidateId], [PositionId]) VALUES (3, 3, 1)
INSERT [dbo].[CandidatePosition] ([CandidatePositionId], [CandidateId], [PositionId]) VALUES (4, 4, 2)
SET IDENTITY_INSERT [dbo].[CandidatePosition] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionId], [PositionName], [NumberOfPost]) VALUES (1, N'President', 1)
INSERT [dbo].[Position] ([PositionId], [PositionName], [NumberOfPost]) VALUES (2, N'Vice President', 5)
INSERT [dbo].[Position] ([PositionId], [PositionName], [NumberOfPost]) VALUES (3, N'General Secretary', 1)
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleType]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
INSERT [dbo].[User] ([UserId], [Name], [ServiceId], [MobileNo], [Email], [Password], [RoleId]) VALUES (1, N'Admin', N'0000', N'010000000000', N'admintest@gmail.com', N'87456321', 1)
SET IDENTITY_INSERT [dbo].[VoteCastingInformation] ON 

INSERT [dbo].[VoteCastingInformation] ([Id], [CandidateId], [VoterId], [PositionId]) VALUES (1, 3, 43, 1)
INSERT [dbo].[VoteCastingInformation] ([Id], [CandidateId], [VoterId], [PositionId]) VALUES (2, 4, 43, 2)
INSERT [dbo].[VoteCastingInformation] ([Id], [CandidateId], [VoterId], [PositionId]) VALUES (3, 6, 43, 2)
GO
SET IDENTITY_INSERT [dbo].[VoteCastingInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[Voter] ON 

INSERT [dbo].[Voter] ([VoterId], [Name], [ServiceId], [MobileNo], [Email], [BloodGroup], [IsSelected], [IsCommittedVote], [UniqueIdentification], [IsMailSent]) VALUES (1, N'Md. Rafiqul Islam', N'15502', N'+880XXXXXXXXX', N'mailXXX@gmail.com', N'A+', 0, 1, N'1644fdb9-af75-4291-9574-efd6e0bc4558', 1)
INSERT [dbo].[Voter] ([VoterId], [Name], [ServiceId], [MobileNo], [Email], [BloodGroup], [IsSelected], [IsCommittedVote], [UniqueIdentification], [IsMailSent]) VALUES (2, N'Shabbir Ahmmad', N'15503', N'+880XXXXXXXXX', N'mailXXX@gmail.com', N'B+', 0, 1, N'a2abe876-4d56-4c85-bdc7-6bec8f4487e3', 1)
INSERT [dbo].[Voter] ([VoterId], [Name], [ServiceId], [MobileNo], [Email], [BloodGroup], [IsSelected], [IsCommittedVote], [UniqueIdentification], [IsMailSent]) VALUES (3, N'Anisur Rahman', N'15504', N'+880XXXXXXXXX', N'mailXXX@gmail.com', N'B+', 0, 1, N'5f9c6f63-2e79-4758-82dc-8438b33230b5', 1)
GO
SET IDENTITY_INSERT [dbo].[Voter] OFF
ALTER TABLE [dbo].[CandidatePosition]  WITH NOCHECK ADD  CONSTRAINT [FK_CandidatePosition_Candidate] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Candidate] ([CandidateId])
GO
ALTER TABLE [dbo].[CandidatePosition] CHECK CONSTRAINT [FK_CandidatePosition_Candidate]
GO
ALTER TABLE [dbo].[CandidatePosition]  WITH CHECK ADD  CONSTRAINT [FK_CandidatePosition_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
GO
ALTER TABLE [dbo].[CandidatePosition] CHECK CONSTRAINT [FK_CandidatePosition_Position]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[VoteCastingInformation]  WITH NOCHECK ADD  CONSTRAINT [FK_VoteCastingInformation_Candidate] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Candidate] ([CandidateId])
GO
ALTER TABLE [dbo].[VoteCastingInformation] CHECK CONSTRAINT [FK_VoteCastingInformation_Candidate]
GO
ALTER TABLE [dbo].[VoteCastingInformation]  WITH CHECK ADD  CONSTRAINT [FK_VoteCastingInformation_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
GO
ALTER TABLE [dbo].[VoteCastingInformation] CHECK CONSTRAINT [FK_VoteCastingInformation_Position]
GO
ALTER TABLE [dbo].[VoteCastingInformation]  WITH CHECK ADD  CONSTRAINT [FK_VoteCastingInformation_Voter] FOREIGN KEY([VoterId])
REFERENCES [dbo].[Voter] ([VoterId])
GO
ALTER TABLE [dbo].[VoteCastingInformation] CHECK CONSTRAINT [FK_VoteCastingInformation_Voter]
GO
